<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   
    <link rel="stylesheet" href="/main.css">

   
    <title>Alibazon</title>
  
    <!----Navbar--->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Alibazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/women">Womens</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/men">Mens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Recent</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

<!--Homes links-->
<nav class="navbar navbar-expand-lg navbar-light bg-light", aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/women">Women</a></li>
    <li class="breadcrumb-item"><a href="/womens-clothing">Clothing</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bottoms</li>
  </ol>
</nav>

</head>


  <body>
    

    <!--Women categorie-->


<section class="section1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" src="/images/products/medium/PG.10246370.JJBH3XX.PZ.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Sheri Rivet Side Slit Slim Ankle Jeans</h5>
                <p>leek and always in style, these slim-cut jeans feature rivets at the split hems and lift-tuck technology to flatten the tummy and lift the rear. </p>
                <p class="mb-0">Price:$18.25</p>
              </div>
              <a href="/womens-clothing-tops-details" class="btn btn-outline-secondary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" src="/images/products/medium/PG.10246050.JJ169XX.PZ.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Marilyn Stretch Straight </h5>
                <p>Sleek and always in style, these slim-cut jeans feature rivets at the split hems and lift-tuck technology to flatten the tummy and lift the rear. </p>
                <p class="mb-0">Price:$28.25</p>
              </div>
              <a href="#" class="btn btn-outline-secondary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" src="/images/products/medium/PG.10246366.JJP49XX.PZ.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Wedgie Icon Fit High Waist Nonstretch Straight</h5>
                <p>Inspired by vintage Levi's, these ripped and acid-washed nonstretch jeans have a super-high waist that showcases your curves. </p>
                <p class="mb-0">Price:$23.48</p>
              </div>
              <a href="#" class="btn btn-outline-secondary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" src="/images/products/medium/PG.60114686.JJE25XX.PZ.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">501® Skinny Jeans</h5>
                <p>The 501—possibly the world's most famous pair of jeans—has been updated for today with a sun-baked wash that adds a retro-cool vibe to the look. </p>
                <p class="mb-0">Price:$28.16</p>
              </div>
              <a href="#" class="btn btn-outline-secondary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" src="/images/products/medium/PG.60114029.JJE25XX.PZ.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Linen Joggers</h5>
                <p>A cooled-down update to your linen collection, these joggers dress up a day when you wish you could just wear sweats. </p>
                <p class="mb-0">Price:$26.78</p>
              </div>
              <a href="#" class="btn btn-outline-secondary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="align-self-center mr-3" src="/images/products/medium/PG.60114143.JJKJ4XX.PZ.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">Track Style Linen Pants</h5>
                <p>Pull-on pants in a cropped, scalloped-hem cut of light and cool linen are ideal for sun-chasing adventures or kicked-back weekends at home. </p>
                <p class="mb-0">Price:$17.99</p>
              </div>
              <a href="#" class="btn btn-outline-secondary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!--Footer-->
    <footer class="footer fixed-bottom">
      <p>Copyright 2021 OSF Global Services</p>
    </footer>
    

    
  </body>
</html>